<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="collage">
        <img src="{{ url_for('static', filename='img/imagen2.jpg') }}" alt="Imagen 1" class="collage-image">
        <img src="{{ url_for('static', filename='img/imagen1.jpg') }}" alt="Imagen 2" class="collage-image">
        <img src="{{ url_for('static', filename='img/imagen3.jpg') }}" alt="Imagen 3" class="collage-image">
        <img src="{{ url_for('static', filename='img/imagen4.jpg') }}" alt="Imagen 3" class="collage-image">
    </div>
    <div class="form-container">
    <h1>¿Sobrevives al Titanic?</h1>
    <form action="{{ url_for('predict')}}" method="POST">
        
        <label for="pclass">Clase (1 = 1ra, 2 = 2da, 3 = 3ra):</label>
        <input type="number" id="pclass" name="Pclass" min="1" max="3" required>

        <label for="sex">Sexo:</label>
        <select id="sex" name="Sex" required>
            <option value="male">Hombre</option>
            <option value="female">Mujer</option>
        </select>

        <label for="age">Edad:</label>
        <input type="number" id="age" name="Age" step="0.1" min="1" max="100" required>

        <label for="sibsp">Nº de hermanos / cónyuges a bordo:</label>
        <input type="number" id="sibsp" name="SibSp" min="0" max="10" required>

        <label for="parch">Nº de padres / hijos a bordo: </label>
        <input type="number" id="parch" name="Parch" min="0" max="10" required>

        <label for="embarked">Puerto de embarque:</label>
        <select id="embarked" name="Embarked" required>
            <option value="C">Cherbourg</option>
            <option value="Q">Queenstown</option>
            <option value="S">Southampton</option>
        </select>

        <input type="submit" value="Enviar">
    </form>
    <br>
   <br>
   {{ prediction_text }}
    </div>
    <!--<audio controls loop>
        <source src="sound/titanic_meme.mp3" type="audio/mpeg">
        Tu navegador no soporta la reproducción de audio.
      </audio>-->
</body>
</html>
