<!DOCTYPE html>
<html>
<head>
    <title>Sobreviviste</title>
    <style>
        body {
            background-image: url('{{ url_for('static', filename='img/imagen3.jpg') }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1 style="color: #0056b3;">¡Felicidades! Has sobrevivido al Titanic.</h1>
    <a href="/" style="color: #0056b3;">Volver a intentarlo</a>

    <!-- Reproductor de música -->
    <audio autoplay loop>
        <source src="{{ url_for('static', filename='sound/crowd_cheer.mp3') }}" type="audio/mpeg">
        <!-- <source src="https://drive.google.com/uc?export=download&id=1KNbtId4tdtrq5xsbhEn7Lxe7Y8CjEslK" type="audio/mpeg"> -->
        Tu navegador no soporta el elemento de audio.
    </audio>
</body>
</html>
